= render 'layouts/header'

.login
  h2.login-header プラン選択
  .login-container
    = form_with url: pay_card_index_path do |f|
      .wrap
        p 契約プラン
        .field
          = f.collection_select :plan_id, @plans, :id, :name, {}, {class: "form-control", style: 'width:100%', id: 'selectplan'}
        br
        button.btn.btn-success.mt10 data-target="#planModal" data-toggle="modal" type="button" style="width:100%;border-top:1px solid #e9ecef;margin-right:5px;" 料金プランを確認

        p id="plan" style="text-align:right;font-size:22px;font-weight:bold;color:#d23232" 合計：10,000円

        script src="https://checkout.pay.jp" class="payjp-button" data-key="#{ENV['PAY_JP_KEY']}" data-text="カード情報を入力" style="width:100%" data-partial="true"
        p style="color:#d23232;" ※決済完了後はキャンセルできませんのでご注意ください

/ = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
/   label カード番号
/   = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
/   br
/   label 有効期限
/   = text_field_tag "exp_month", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "2", type: "text", id: "exp_month"
/   = text_field_tag "exp_year", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "4", type: "text", id: "exp_year"

/   / select#exp_month name: "exp_month", type: "text" 
/   /   option value: ""  --
/   /   option value: "1" 01
/   /   option value: "2" 02
/   /   option value: "3" 03
/   /   option value: "4" 04
/   /   option value: "5" 05
/   /   option value: "6" 06
/   /   option value: "7" 07
/   /   option value: "8" 08
/   /   option value: "9" 09
/   /   option value: "10" 10
/   /   option value: "11" 11
/   /   option value: "12" 12
/   / span 月/
/   / select#exp_year name: "exp_year", type: "text" 
/   /   option value: ""  --
/   /   option value: "2019" 19
/   /   option value: "2020" 20
/   /   option value: "2021" 21
/   /   option value: "2022" 22
/   /   option value: "2023" 23
/   /   option value: "2024" 24
/   /   option value: "2025" 25
/   /   option value: "2026" 26
/   /   option value: "2027" 27
/   /   option value: "2028" 28
/   /   option value: "2029" 29
/   / span 年
/   br
/   label セキュリティコード
/   = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
/   #card_token
/   = submit_tag "追加する", id: "token_submit"

= render 'layouts/footer'

javascript:
  $('#select_plan').change( function () {
    var price = new Array(10000,72000,18000,129600,24000,172800,30000,216000);
    var val = $('#select_plan').val();
    var total = document.getElementById('total');
    total.textContent = `合計：${price[val-1]}円`;
  });
