<p><%= @resource.email %>様</p>

<p>下記リンクより、パスワードの再設定を行なってください</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合は本メールは破棄してください</p>
<p>上記のURLより再設定を行うまでパスワードは変更されません</p>
